.panel {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--background-tint);
  padding: 1rem;
}

.input-tab-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.long-text {
  resize: none;
  height: 15ch;
}