html {
  height: 100dvh;
  scrollbar-width: none;
  background: var(--background);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .125ch;
}

body {
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: clamp(500px, 75%, 1000px);
}

.header-text,
.header-title {
  text-align: center;
}

.workstation {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.ws-element {
  flex: 1;
}

.footer {
  align-self: center;
}

.footer-text {
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}