html {
  height: 100dvh;
  scrollbar-width: none;
}

body {
  margin: 5px;
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  gap: 1rem;
  width: clamp(500px, 75%, 1000px);
}

.workstation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

.preview {
  width: 50%;
  height: fit-content;
  position: sticky;
  top: 5px;
}